export DATABASE_URL="postgres://postgres:example@localhost"
export GITHUB_TOKEN="github_token_dummy"
export MISSION_CONTROL_JOBS_PASSWORD="password"
export MISSION_CONTROL_JOBS_USER="admin"
export WEBHOOK_DISCORD_URL="https://example.com/discord/api/webhooks/"
