<table class="table">
  <colgroup>
    <col width="30%">
    <col width="30%">
    <col width="30%">
  </colgroup>
  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Latest version</th>
  </tr>
  <%= render projects %>
</table>
