<tr>
  <td><%= link_to project.name, project_path(project) %></td>
  <td>
    <small>
      <%= image_tag "icons/#{project.source}.svg", width: 16 %>
      <%= link_to project.slug, project.link %>
    </small>
  </td>
  <td><%= project.latest_version || "-"%></td>
</tr>
